@font-face {
    font-family: "nokiafc22";
    src: 
        local("nokiafc22"),
        url("./flixel/fonts/nokiafc22.woff");
}

body {
    font-family: "nokiafc22";
    text-align: center;
    background-color: white;

    margin: 0px;
}

footer p {
    width: 70%;
    background-color: #212529;

    margin: auto;
    margin-top: 10px;
}

p {
    font-size: small;
}

a {
    color: #17C1E8;
}

.light {
    color: white;
}

.dark {
    color: #212529;
}

.desc {
    margin: 40px;
}

.preview-light {
    width: 50%;
    min-width: 50%;
    max-width: 100%;
    max-height: 100%;
    border: 5px solid #212529;
    border-radius: 15px;

    padding: 12px;
}

.preview-dark {
    width: 75%;
    border: 5px solid white;
    border-radius: 15px;

    padding: 12px;

    margin: auto;
}

.aligned-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px;
}

.img-label {
    margin-left: 25px;
    margin-right: 25px;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

#content {
    width: 70%;

    margin: auto;
}

#main-menu, #build-menu {
    background-color: #212529;

    margin-top: none;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#show-menu {
    border: 5px solid #212529;
}